{erl_opts, [debug_info]}.

% {shell, [
%   {config, "config/sys.config"}
% ]}.
% {plugins, [
%    rebar3_run
% ]}.
{plugins, [steamroller, rebar3_path_deps]}.

% {deps_dir, ["deps"]}.
{
  deps,
  [
    {ra, {git, "https://github.com/rabbitmq/ra.git", {branch, "main"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
    {cowlib, {git, "https://github.com/ninenines/cowlib.git", {tag, "2.12.1"}}},
    {ranch, {git, "https://github.com/ninenines/ranch.git", {tag, "1.8.0"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "main"}}},
    {my_nif, {path, "my_nif"}}
  ]
}.

{
  shell,
  % Configure your project-specific environment variables here, e.g., "port".
  [{apps, [erlang_project]}]
}.

{
  relx,
  [
    {release, {erlang_project, "0.1.0"}, [erlang_project]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
  ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}]}.
